<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="customerId">
            <mat-header-cell *matHeaderCellDef> Customer ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.customerId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateTime">
            <mat-header-cell *matHeaderCellDef> Date Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateTime}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="orderId">
            <mat-header-cell *matHeaderCellDef> Order ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.orderId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paymentId">
            <mat-header-cell *matHeaderCellDef> Payment ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.paymentId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="siteId">
            <mat-header-cell *matHeaderCellDef> Site ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.siteId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sku">
            <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sku}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
	<my-paginator #paginator
		[pageIndex]="0"
		[pageSize]="25"
	>
	</my-paginator>
</div>
